* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
}
.box {
    float: left;
    width: 33.33%;
    padding: 70px;
    display: inline-flex;
  }
  

header {
    padding: 20px;
    text-align: center;
    background: teal;
    width: 100%;
    position: fixed;
    top: 0;
    
}
footer {
    padding: 20px;
    text-align: center;
    background: teal;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}
.container {
    display: flex;
    background: #d9d3d2;
}
.image {
    margin-top: 120px;
    margin-left: 0px; 
    display: table;
    background: #d9d3d2;
}
.about {
    margin-top: 120px;
    margin-left: 0px;
    display: table;
    background: #d9d3d2;
   
}
.about h1 p {
    display: table-row;  
    
}
.favs {
    margin-top: 120px;
    margin-left: 0px;
    padding: 78px;
    display: table;
    background: #d9d3d2;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.favs h2 h4 {
    display: table-row;  
    
}

