* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
}
.box {
    float: left;
    width: 33.33%;
    padding: 70px;
    display: inline-flex;
  }
  

header {
    padding: 20px;
    text-align: center;
    background: teal;
    width: 100%;
    position: absolute;
    top: 0;
    
}
footer {
    padding: 20px;
    text-align: center;
    background: teal;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}
.container {
    display: flex;
}
.image {
    margin-top: 120px;
    margin-left: 0px; 
    display: table;
}
.about {
    margin-top: 120px;
    margin-left: 0px;
}
.favs {
    float: right;
    margin-top: -258px;
    margin-left: 150px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.image h1 {
    margin-bottom: 100px;
    text-align: start;
    display: table-row;
    
}
.image img {
   
}
