body {
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    text-align: center;
    background: teal;
    width: 100%;
    position: absolute;
    top: 0;
    
}
footer {
    padding: 20px;
    text-align: center;
    background: teal;
    width: 100%;
    position: absolute;
    bottom: 0;
    
}
